<div class="container">
  <h1>List of restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
  <%= link_to "Add", new_restaurant_path, class: 'btn btn-primary' %>
</div>
