// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100vh;
}

.form-section {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #DDDBDD;
  border-radius: 4px;
  padding: 20px 20px 50px 20px;
  min-width: 400px;
  margin: 30px 0;
}
